*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	background-color: #3b82f6;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

main {
	height: 750px;
	width: 500px;
	background-color: white;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	border-radius: 15px;
}

form {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 80%;
	align-items: flex-start;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	margin-bottom: 15px;
	border-bottom: 1px solid black;
	width: 80%;
	padding: 5px;
}

.child {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.child input {
	width: 250px;
}

.child input,
textarea {
	padding: 8px;
	border-radius: 5px;
	border: 1px solid black;
	outline: none;
	box-shadow: -1px 2px 3px gray;
}

.child input:focus,
textarea:focus {
	border: 1px solid #c3c3c3;
	text-decoration: none;
}

.child label,
.accessible-list label {
	font-weight: 600;
	padding: 0px 0px 0px 1px;
}

.gender-list {
	display: flex;
	gap: 15px;
}

.gender-div {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.gender-child {
	display: flex;
	justify-content: center;
	gap: 5px;
}

.list {
	display: flex;
	gap: 30px;
}

.list-child {
	display: flex;
	justify-content: center;
	gap: 5px;
}

.list-child label {
	font-weight: 400;
}

.accessible-list {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

section {
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid black;
	width: 80%;
	margin-top: 20px;
	padding: 10px 0px;
}

@media only screen and (max-width: 400px) {
	main {
		margin-top: 150px;
		height: 800px;
		width: 90%;
	}

	.child input,
	textarea {
		width: 200px;
	}
}

@media only screen and (max-width: 300px) {
	main {
		margin-top: 250px;
		height: 870px;
		padding: 10px;
	}

	.gender-list {
		flex-direction: column;
		align-items: flex-start;
	}
}
